/*Overrides Bootstrap CSS*/

body{

}
#bind-all{
	margin: 0 auto;
	width: 600px;
	height: 200px;
	background: #AAA;
	position: relative;
}
#prev{
	height: 200px;
	width: 50px;
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;

	padding: 14% 16px;
}
#next{
	height: 200px;
	padding: 5px;
	z-index: 1000;
	position: absolute;
	right: 0;
	top: 0;

	padding: 14% 16px;
}
#plugin-container{
	margin: 10px auto;
	padding: 5px;
	background: #CCC;
	width: 500px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
.plugin-wrapper{

	height: 100%;
	float: left;
	display: inline-flex;

	position: relative;

}
.wrapper{
	width: auto;
	height: 100%;

	position: relative;
	display: block;
	float: left;

	margin: 0;
	padding: 0;
}

.offer{
	margin: 0 2px;

	background: #DDD;

	width: 200px;
	height: 100%;
}

header{
	width: 70%;
	margin: 10px auto;
	background: #CCC;
	text-align: center;
	padding: 20px;
}

footer{
	width: 70%;
	margin: 10px auto;
	background: #CCC;
	text-align: center;
	padding: 20px;
}